/* Body Content Styling */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

/* Set Heading Text Color  */
h1 {
  color: #4aaaa5;
  font-family:  Georgia, Times, "Times New Roman", serif;
} 

/* Set Paragraph Text Color  */
p {
  color: #777777;
}



/* Set the Main Content Styling Across the pages */
body { 
   background-image: url("../images/embossed-diamond.png");  
 } 


/* About Me Photo Specifics.*/
.img-thumbnail {
  width: 200px;
  height: auto;
  margin: 5px 15px 5px 5px;
  border: 1px solid #ccc;
  float: left;
  padding: 15px;
} 


/* Footer Styling Across the pages*/
footer{
border-top: 8px solid #4aaaa5;
text-align: center;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 50px;
background-color: #000000;
color: #ffffff;
}



